<?xml version="1.0" encoding="utf-8" standalone="no"?>
<DSF>
   <Service id="101" maxThreadCount="100" name="workflow">
    <Commmunication>
      <SocketPool autoShrink="00:00:20" bufferSize="4096" maxPoolSize="50" minPoolSize="3" 
      	nagle="true" receiveTimeout="00:10:30" sendTimeout="00:10:30" waitTimeout="00:00:30"/>
      <Protocol protocolType="v2" compressType="UnCompress" encoder="UTF-8" serialize="DSF"/>
    </Commmunication>
    <Loadbalance>
      <Server deadTimeout="00:10:00">
        <add host="10.37.18.210" maxCurrentUser="100" name="workflow" port="59468"/>
      </Server>
    </Loadbalance>
  </Service>
</DSF>
